@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hero-bg
  {
 /* Using RGBA for transparency */
  background:  url(../../public/assets/img/header_img.jpg);
  background-repeat: repeat-x;
  background-position: 0 20%, 0 95%, 0 0, 0 100%, 0 0;
  animation: 90s para infinite linear;
  } 
  /* .social-bg
  {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(0deg, rgba(35, 192, 233, 0.878),#23c0e9e0),  url(../../public/assets/img/down_bg.webp);
  background-repeat: no-repeat;
  background-position: 0 20%, 0 95%, 0 0, 0 100%, 0 0;
  background-size: cover;
  }  */
  .swiper-pagination-two span {
    background: transparent;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  .swiper-pagination-two .swiper-pagination-bullet {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px;
    border:1px solid #e9e9e9;
    border-radius: 8px;
    padding: 4px 8px;
  }
  .swiper-pagination-two .swiper-pagination-bullet-active {
    color: red;
  }
  @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 0,
        1000px 100%,
        400px 0;
      }
  }
}
