@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hero-bg
  {
 /* Using RGBA for transparency */
  background:  url(../../public/assets/img/header_img.jpg);
  background-repeat: repeat-x;
  background-position: 0 20%, 0 95%, 0 0, 0 100%, 0 0;
  animation: 90s para infinite linear;
  
  }

  @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 0,
        1000px 100%,
        400px 0;
      }
  }
}
